.card {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.imageContainer {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 100%;
  position: relative;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.content {
  padding: 0 5px;
}

.title {
  font-size: 12px;
  font-weight: 500;
  margin: 0;
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.3;
}

.artists {
  font-size: 10px;
  color: #999999;
  margin: 5px 0 0 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
