.search {
  padding: 10px 15px;
  height: 100%;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid var(--color-black);
  width: 100%;
  max-width: 502px;
  flex: 1;
  min-width: 200px;
  box-sizing: border-box;
  font-size: 14px;
}

.wrapper {
  display: flex;
  align-items: stretch;
  height: 48px;
  flex: 1;
  min-width: 0;
  background-color: transparent;
}

.searchButton {
  border-radius: 0px 8px 8px 0px;
  padding: 10px 15px;
  height: 100%;
  border: 1px solid var(--color-black);
  border-left: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchButton img {
  width: 20px;
  height: 20px;
}

.listElement {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.albumTitle {
  font-size: 16px;
}

.albumArtists {
  font-size: 12px;
}
