.button {
  background-color: var(--color-black);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  padding: 8px 24px;
  border-radius: 24px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--color-primary);
  color: var(--color-black);
  cursor: pointer;
}
